apache-airflow[postgres]==2.10.5 \
--constraint https://raw.githubusercontent.com/apache/airflow/constraints-2.10.5/constraints-3.10.txt

pandas
scikit-learn
loguru
python-dotenv
openpyxl
catboost
torch
plotly
dash
